@require "1px"

size(w, h)
    width: w
    height: h

h1,
h2,
h3
    margin-left: 10px

h3
    margin-left: 20px

pre
    margin-left: 40px

.box
    size: 80px 40px
    margin: 0 auto
    margin-top 10px

.box-1
    set-border-radius(80px)

.box-2
    set-border-radius(0)

// set default color
.border
    set-border-color(#55555d)

.border-left
    set-border-color(red)

